body {
    font-size: 16px;
    line-height: 24px;
    color: $wh;
    background-color: $wh;

    @extend %jeko-400;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1568px;
}

.container--small {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1264px;
}

.lottie {
    margin-bottom: 36px;

    @include r($md) {
        margin: 0 auto 28px;
    }
}

.links {
    z-index: 5;

    &__button {
        position: absolute;
        right: 30px;
        top: 0;
        height: 20px;
        cursor: pointer;
    }

    &__link {
        display: block;
    }

    &__list {
        position: absolute;
        right: 30px;
        top: 20px;
        z-index: 5;
        display: none;
        background-color: $bl;
    }

    &__list--active {
        display: block;
    }
}

.fact {
    padding: 256px 0;

    &__text {
        margin: 0 auto;
        max-width: 968px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $bl;

        @include r($lg) {
            font-size: 30px;
        }

        @include r($md) {
            font-size: 20px;
            line-height: 32px;
            text-align: left;
        }

        @extend %jeko-700;
    }

    @include r($lg) {
        padding: 50px 0 100px;
    }
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: $wh;

    &.hide {
        z-index: -100;
    }
}

.pin-spacer {
    min-height: 100vh;
}