body {
    font-size: 16px;
    line-height: 24px;
    color: $wh;
    background-color: $wh;

    @extend %jeko-400;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1568px;
}

.container--small {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1264px;
}

.links {
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
}
.link {

    color: #0f0f0f;
}

//
.js {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: red;
}

#line {
    color: $bl;
}

#speed {
    color: $bl;
}

#pole {
    position: relative;
    width: 500px;
    height: 50px;
    background-color: blue;
}

#pole-2 {
    position: absolute;
    left: 200px;
    top: 0;
    width: 10px;
    height: 50px;
    background-color: red;
}

//
.fact {
    padding: 156px 0;

    &__text {
        margin: 0 auto;
        max-width: 968px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $bl;

        @include r($lg) {
            font-size: 30px;
        }

        @include r($md) {
            font-size: 20px;
            line-height: 32px;
            text-align: left;
        }

        @extend %jeko-700;
    }

    @include r($lg) {
        padding: 50px 0 100px;
    }
}
