@import "base/variables";
@import "libs/reset";
@import "base/mixins";
@import "libs/fonts";
@import "global";
@import "blocks/laptop";
@import "blocks/windows";
@import "blocks/work";
@import "blocks/design";
@import "blocks/touch";

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"); */



