.contact {
    background-color: $bl;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 150px 0 165px;
        min-height: 100vh;

        @include r($lg) {
            padding: 80px 0 60px;
        }

        @include r($md) {
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;
        max-width: 550px;
    }

    &__title {
        margin-bottom: 56px;
        font-size: 56px;
        line-height: 64px;

        @include r($md) {
            margin-bottom: 32px;
            font-size: 32px;
            line-height: 40px;
        }

        @extend %jeko-700;
    }

    &__title--color {
        display: block;
        max-width: 287px;
        -webkit-text-fill-color: transparent;
        background-image: url("../images/grad-1.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: text;

        @include r($md) {
            max-width: 160px;
            background-position: center;
        }
    }

    &__mail {
        margin-bottom: auto;
        font-size: 18px;
        color: #f6f6f6;

        @include r($md) {
            margin-bottom: 64px;
            color: $black-gray;
        }

        @extend %jeko-600;
    }

    &__list {
        display: flex;

        @include r($md) {
            display: none;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        font-size: 14px;
        line-height: 20px;
        color: #f6f6f6;
        transition: border-bottom 0.3s;

        &:hover {
            border-bottom: 1px solid #f6f6f6;
        }

        @extend %jeko-600;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 36px;

            @include r($xl) {
                margin-right: 25px;
            }
        }
    }

    &__form {
        width: 100%;
        max-width: 630px;

        @include r($md) {
            margin: 0;
        }
    }

    &__label {
        display: block;
        margin-bottom: 24px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @extend %jeko-800;
    }

    &__input {
        margin-bottom: 40px;
        padding-bottom: 20px;
        width: 100%;
        max-width: 272px;
        border: none;
        border-bottom: 1px solid #6b7188;
        letter-spacing: -0.03em;
        color: $black-gray;
        background-color: transparent;

        &::placeholder {
            color: $black-gray;
        }

        &:not(:last-child) {
            margin-right: 33px;

            @include r($lg) {
                margin-right: 0;
            }
        }

        @include r($xl) {
            margin-bottom: 32px;
        }

        @include r($lg) {
            display: block;
        }

        @include r($sm) {
            width: 100%;
            max-width: 100%;
        }

        @extend %jeko-500;
    }

    &__submit {
        position: relative;
        display: block;
        padding-right: 52px;
        border: none;
        font-size: 20px;
        line-height: 32px;
        color: $wh;
        background-color: transparent;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 24px;
            height: 17px;
            background-image: url("../images/arrow.svg");
            transform: translateY(-50%);
        }

        @extend %jeko-700;
    }

    &__types {
        margin-bottom: 40px;

        @include r($xl) {
            margin-bottom: 16px;
        }
    }

    &__type {
        padding: 8px 22px 7px;
        border: 1px solid $black-gray;
        border-radius: 32px;
        background-color: transparent;
        transition: all 0.3s ease;

        &:not(:last-child) {
            margin: 0 10px 40px 0;

            @include r($xl) {
                margin: 0 10px 30px 0;
            }

            @include r($xl) {
                margin: 0 10px 20px 0;
            }
        }

        @include r($md) {
            padding: 8px 20px;
            font-size: 14px;
            line-height: 20px;
            color: $black-gray;
        }

        @extend %jeko-500;
    }
}

.button__hover {
    display: inline-block;
    letter-spacing: -0.03em;
    color: $wh;
    transition: transform 0.1s linear;
    pointer-events: none;

    &:not(:last-child) {
        margin-right: 14px;

        @include r($md) {
            margin-right: 2px;
        }
    }
}

.cursor {
    position: fixed;
    padding: 5px;
    border-radius: 50%;
    background-color: $wh;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    pointer-events: none;
}

button:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(6);
}

.contact__input--long {
    max-width: 582px;
}
