.design {
    padding: 256px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include r($lg) {
            flex-direction: column;
        }
    }

    &__title {
        max-width: 350px;
        font-size: 42px;
        line-height: 56px;
        color: $bl;

        @include r($xl) {
            max-width: 320px;
            font-size: 38px;
        }

        @include r($lg) {
            margin-bottom: 15px;
            max-width: 100%;
            font-size: 32px;
            line-height: 46px;
            text-align: center;
        }

        @include r($md) {
            text-align: left;
        }

        @extend %jeko-700;
    }

    &__title--first {
        animation-duration: 1s;
    }

    &__title--second {
        animation-duration: 1.2s;
    }

    &__title--third {
        animation-duration: 1.4s;
    }

    &__title--fourth {
        animation-duration: 1.6s;
    }

    &__text-block {
        max-width: 576px;

        @include r($lg) {
            max-width: 100%;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #6b7188;

        &:not(:last-child) {
            margin-bottom: 20px;

            @include r($md) {
                margin-bottom: 15px;
            }
        }

        @extend %jeko-500;
    }

    &__text--accent {
        max-width: 515px;
    }

    &__title--first,
    &__title--second,
    &__title--third,
    &__title--fourth {
        display: block;
        animation-name: title-ani;

        @include r($lg) {
            display: inline-block;
            animation: none;
        }
    }

    @include r($lg) {
        padding: 100px 0;
    }
}

@keyframes title-ani {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}