.laptop {
    perspective: 2500px;
    perspective-origin: 50% 100%;
    transform-style: preserve-3d;

    &__title {
        margin: 0 auto 80px;
        padding-top: 100px;
        max-width: 904px;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        color: $bl;

        @include r($xl) {
            font-size: 44px;
            line-height: 54px;
        }

        @include r($lg) {
            margin: 0 auto 40px 0;
            font-size: 32px;
            line-height: 40px;
        }

        @extend %jeko-800;
    }

    &__title--first {
        display: block;
        animation-name: title-ani;
        animation-duration: 1.2s;
    }

    &__title--second {
        display: block;
        animation-name: title-ani;
        animation-duration: 1.5s;
    }

    @include r($lg) {
        perspective: 2100px;
    }

    @include r($md) {
        perspective: 1400px;
    }

    @include r($sm) {
        perspective: 900px;
    }
}

.laptop__top-img {
    position: relative;
    z-index: 2;
    height: auto;
}

.laptop__top {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    background-color: $wh;
    transform: rotateX(-100.5deg) rotateY(0deg);
    transform-origin: center bottom;

    @include r($lg) {
        max-width: 500px;
    }

    @include r($md) {
        max-width: 333px;
    }

    @include r($sm) {
        max-width: 208px;
    }
}

.laptop__top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
    color: $wh;
    background-position: center center;

    /* background-image: url('../images/3.png'); */
    background-size: cover;
    background-color: #292929;
    object-fit: cover;
}

.laptop__bottom {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 720px;

    @include r($lg) {
        max-width: 600px;
    }

    @include r($md) {
        max-width: 400px;
    }

    @include r($sm) {
        max-width: 250px;
    }
}

.laptop__top-img,
.laptop__bottom-img {
    display: block;
    margin: 0 auto;
}

@keyframes title-ani {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
