.laptop {
    padding: 150px 0 0;
    perspective: 2500px;
    perspective-origin: 50% 100%;
    transform-style: preserve-3d;

    &__title {
        margin: 0 auto 100px;
        max-width: 904px;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        color: $bl;

        @include r($xl) {
            font-size: 44px;
            line-height: 54px;
        }

        @include r($lg) {
            margin: 0 auto 40px 0;
            font-size: 32px;
            line-height: 40px;
        }

        @include r($md) {
            max-width: 318px;
            text-align: left;
        }

        @extend %jeko-800;
    }
}

.laptop__top-img {
    position: relative;
    z-index: 2;
    height: auto;
    max-width: 100%;
}

.laptop__top {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    transform-origin: center bottom;
    //transition: transform 4s ease;
    //will-change: transform;
    transform: rotateX(-100.5deg);
}
.laptop__top--active .laptop__top-img {
    opacity: 0;
}
//.laptop__top--active {
//    transform: rotateX(-100.5deg) rotateY(0deg);
//}

.laptop__top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
    font-size: 0.5em;
    color: $wh;
    background-color: #292929;
}

.laptop__bottom {
    margin: 0 auto;
    max-width: 720px;
}

.laptop__top-img,
.laptop__bottom-img {
    display: block;
    margin: 0 auto;
}

//20% {
//    transform:
//        translateY(22px)
//        perspective(0)
//        scaleX(1)
//        rotateX(340deg);
//}
//
//30% {
//    transform:
//        translateY(47px)
//        perspective(0)
//        scaleX(1)
//        rotateX(330deg);
//}
//
//40% {
//    transform:
//        translateY(51px)
//        perspective(400px)
//        scaleX(1.15)
//        rotateX(320deg);
//}
//
//60% {
//    transform:
//        translateY(79px)
//        perspective(1200px)
//        scaleX(1.14)
//        rotateX(300deg);
//}
//
//70% {
//    transform:
//        translateY(155px)
//        perspective(1200px)
//        scaleX(1.21)
//        rotateX(290deg);
//}
//
//80% {
//    transform:
//        translateY(262px)
//        perspective(800px)
//        scaleX(1.4)
//        rotateX(280deg);
//}
//
//90% {
//    transform:
//        translateY(300px)
//        perspective(5000px)
//        scaleX(1.07)
//        rotateX(270deg);
//}
