.thank {
    background-color: $bl;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100vh;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0 0;
        min-height: 545px;
        max-width: 505px;

        @include r($lg) {
            max-width: 400px;
        }
    }

    &__title {
        margin-bottom: 25px;
        font-size: 56px;
        line-height: 64px;

        @include r($lg) {
            margin-bottom: 15px;
            font-size: 32px;
            line-height: 40px;
        }

        @extend %jeko-700;
    }

    &__message {
        display: block;
        margin-bottom: auto;
        font-size: 18px;
        color: $black-gray;

        @include r($lg) {
            font-size: 16px;
            line-height: 20px;
        }

        @extend %jeko-600;
    }

    &__picture {
        @include r($md) {
            display: none;
        }
    }

    &__img {
        object-fit: cover;

        @include r($xl) {
            max-width: 395px;
        }
    }
}