.together {
    padding: 283px 0;
    background-color: #f6f6f6;

    &__pretitle {
        display: block;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #6b7188;

        @include r($xl) {
            margin-bottom: 12px;
            font-size: 20px;
            line-height: 30px;
        }

        @include r($lg) {
            font-size: 16px;
            line-height: 20px;
        }

        @extend %jeko-500;
    }

    &__title {
        margin: 0 auto 42px;
        max-width: 800px;
        font-size: 80px;
        line-height: 96px;
        letter-spacing: -0.03em;
        text-align: center;
        color: $bl;

        @include r($xl) {
            margin: 0 auto 36px;
            font-size: 70px;
            line-height: 65px;
        }

        @include r($lg) {
            max-width: 500px;
            font-size: 50px;
            line-height: 55px;
        }

        @include r($md) {
            max-width: 317px;
            font-size: 36px;
            line-height: 42px;
        }

        @extend %jeko-700;
    }

    &__mail {
        display: block;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $bl;

        @include r($lg) {
            font-size: 18px;
            line-height: 26px;
        }

        @extend %jeko-600;
    }
}