.touch {
    padding: 333px 0 265px;
    background-color: $bl;
    @include r($lg) {
        padding: 150px 0;
    }

    &__pretitle {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 8px;
        color: $black-gray;

        @extend %jeko-500;
        @include r($lg) {
            font-size: 20px;
            line-height: 30px;
        }
        @include r($md) {
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__title {
        margin-bottom: 45px;
        font-size: 80px;
        line-height: 96px;
        letter-spacing: -0.03em;
        text-align: center;
        @include r($lg) {
            font-size: 60px;
            line-height: 56px;
            margin-bottom: 36px;
        }
        @include r($lg) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__title--color {
        display: block;
        -webkit-text-fill-color: transparent;
        background-image: url("../images/grad.png");
        background-position: center;
        background-repeat: no-repeat;
        background-clip: text;
    }

    &__mail {
        display: block;
        margin: 0 auto;
        width: 188px;
        border-bottom: 1px solid $wh;
        font-size: 24px;
        line-height: 18px;
        text-align: center;
        @include r($lg) {
            margin-bottom: 20px;
        }
        @include r($md) {
            font-size: 18px;
            line-height: 14px;
            width: 141px;
        }

        @extend %jeko-600;
    }
}