$wh: #fff;
$bl: #0f0f0f;
$dark: #272727;
$gray: #717171;
$black-gray: #a0a0a0;
$black-dark: #111;
$xxl: 1300;
$xl: 1180;
$lg: 999;
$md: 750;
$sm: 520;

%jeko-400 {
    font-family: "Jeko-Regular", sans-serif;
    font-weight: 400;
}
%jeko-500 {
    font-family: "Jeko-Medium", sans-serif;
    font-weight: 500;
}
%jeko-600 {
    font-family: "Jeko-SemiBold", sans-serif;
    font-weight: 600;
}
%jeko-700 {
    font-family: "Jeko-Bold", sans-serif;
    font-weight: 700;
}
%jeko-800 {
    font-family: "Jeko-Extra-Bold", sans-serif;
    font-weight: 800;
}
