.preview {
    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 80px 50px;
        min-height: 100vh;
        background-color: #fcf9f5;

        @include r($xl) {
            min-height: 100%;
        }

        @include r($md) {
            padding: 70px 40px;
        }

        @include r($sm) {
            padding: 40px 20px;
        }
    }
}

.preview__picture--dark {
    background: linear-gradient(321.05deg, #020b17 3.36%, #111e31 94.8%);
}
