.strategy {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        max-width: 425px;
        font-size: 48px;
        line-height: 56px;
        color: $bl;

        @extend %jeko-700;
    }

    &__descr {
        max-width: 576px;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #6b7188;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @extend %jeko-500;
    }
}