.together {
    padding: 283px 0;
    background-color: #f6f6f6;

    &__pretitle {
        display: block;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #6b7188;

        @extend %jeko-500;
    }

    &__title {
        margin: 0 auto 42px;
        max-width: 800px;
        font-size: 80px;
        line-height: 96px;
        letter-spacing: -0.03em;
        text-align: center;
        color: $bl;

        @extend %jeko-700;
    }

    &__mail {
        display: block;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #0f0f0f;

        @extend %jeko-600;
    }
}