.touch {
    background-color: $bl;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 -10px;
        min-height: 100vh;
    }

    &__pretitle {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 36px;
        color: $black-gray;

        @include r($lg) {
            font-size: 20px;
            line-height: 30px;
        }

        @include r($md) {
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 20px;
        }

        @extend %jeko-500;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 80px;
        line-height: 96px;
        letter-spacing: -0.03em;
        text-align: center;

        @include r($lg) {
            margin-bottom: 26px;
            font-size: 60px;
            line-height: 67px;
        }

        @include r($md) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__title--color {
        display: block;
        height: 110px;
        -webkit-text-fill-color: transparent;
        background-image: url("../images/grad.png");
        background-position: center;
        background-repeat: no-repeat;
        background-clip: text;

        @include r($lg) {
            height: 80px;
        }

        @include r($md) {
            height: 55px;
        }
    }

    &__mail {
        display: block;
        margin: 0 auto;
        width: 188px;
        border-bottom: 1px solid $wh;
        font-size: 24px;
        line-height: 18px;

        @include r($lg) {
            margin-bottom: 20px;
        }

        @include r($md) {
            width: 141px;
            font-size: 18px;
            line-height: 14px;
        }

        @extend %jeko-600;
    }
}