.work {
  background-color: $bl;
  padding: 256px 0;
  @include r($lg) {
    padding: 100px 0;
  }
  &__title {
    font-size: 42px;
    line-height: 56px;
    max-width: 258px;
    margin-bottom: 128px;
    @include r($lg) {
      font-size: 38px;
      margin-bottom: 50px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 256px;
    @include r($md) {
      flex-wrap: wrap;
    }
    @include r($lg) {
      margin-bottom: 75px;
    }
  }
  &__block {
    padding-top: 116px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 80px;
      top: 0;
      left: 0;
    }
    @include r($lg) {
      max-width: 250px;
    }
    @include r($md) {
      max-width: 100%;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

  }
  &__block--circle {
    &::after {
      background-image: url('../images/decor-1.png');
    }
    @include r($lg) {
      margin-right: 10px;
    }
    @include r($md) {
      margin: 0;
    }
  }
  &__block--wave {
    &::after {
      background-image: url('../images/decor-2.png');
    }
    @include r($lg) {
      margin: 0 10px;
    }
    @include r($md) {
      margin: 0;
    }
  }
  &__block--square {
    &::after {
      background-image: url('../images/decor-3.png');
    }
    @include r($lg) {
      margin-left: 10px;
    }
    @include r($md) {
      margin: 0;
    }
  }
  &__block-title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 12px;
  }
  &__block-text {
    letter-spacing: -0.03em;
    color: $black-gray;
    max-width: 272px;
    @include r($md) {
      max-width: 100%;
    }
  }

  &__descr {
    display: block;
    text-align: center;
    color: $black-gray;
    margin-bottom: 20px;
  }
    &__text {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      max-width: 880px;
      margin: 0 auto;
      @include r($md) {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
      }
    }
}